.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121212;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.4s step-end;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #00ffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #00ffff;
}

.main-content {
  padding: 2rem;
}